.routineDiv {
    text-align: center; 
}

#routineHeader {
    color: #c62828; 
    font-family: 'Lobster', cursive;
}

#cancelButton {
    color: white !important; 
    background-color: #c62828!important;
    border: 2px solid white !important; 
    font-weight: bolder !important;
}

#submitButton {
    color: white !important; 
    background-color: #c62828!important;
    border: 2px solid white !important; 
    font-weight: bolder !important;
}