.routineCard {
    width: 70em;
    margin-top: 1em;
    margin-bottom: 1em; 
    border: 6px solid #8e0000 !important;
    border-radius: 14px 14px 14px 14px !important;
    background-color: #1b1b1b !important;
}

p {
    color: white; 
    font-size: 20px;
    font-weight: bolder;
}

.cardBody {
    display: grid; 
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px; 
}

.deleteroutineButton {
    width: 140px; 
    height: 44px; 
    background-color: #c62828 !important;
    color: white !important; 
    border: 2px solid #c62828 !important;
    font-weight: bolder !important;
}

.editroutineButton {
    width: 140px; 
    height: 44px; 
    background-color: #c62828 !important;
    color: white !important; 
    border: 2px solid #c62828 !important;
    font-weight: bolder !important;
}

.routineContainer {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    align-content: space-between;
}

.cardRow {
    padding-right: 8em; 
}

.buttonRow {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
}

#emptyDiv {
    margin-right: 8.75em !important; 
}
