.titleText {
    text-align: center; 
    font-size: 85px; 
    color: #c62828;
    font-family: 'Lobster', cursive !important;
    text-shadow: -5px 5px 20px #ced0d3;
    transition: all 0.25s ease-out;
}

.titleText:hover {
    text-shadow: -20px 10px 15px #ced0d3;
}

.title {
    padding: 10px; 
}

#loginPara {
    max-width: 60em;
    text-align: center;
    margin-left: 8em; 
    margin-bottom: 2em; 
    margin-top: 1em; 
    text-shadow: 5px 5px 15px #c62828;
    transition: all 0.25s ease-out;
}

#loginPara:hover {
    text-shadow: 10px 10px 20px #c62828; 
}
