.authDiv {
    text-align: center !important; 
}

#loginForm1 {  
    background-color: #424242 !important; 
}

.modal-content {
    background-color: #424242 !important;
}

.btn-primary {
    width: 90px;
    height: 50px; 
    color: white !important;
    background-color: #c62828 !important; 
    border: 2px solid #c62828 !important; 
    font-size: 20px !important;
    font-weight: bolder !important;
}

#modalHeader {
    text-align: center;
    color: #c62828 !important; 
    font-family: 'Lobster', cursive;
    font-size: 55px;
}

#logSubButton {
    margin-left: 25em; 
}

#signupHeader {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 60px; 
    color: #c62828 !important; 
}